[2017-05-10 09:26] lostnet opened #1 "db_name/last_seq on on_change docs"
## Problem for my intended usage:

It is not clear to me how/why an **on_change** doc becomes limited to a single target database such that it can track a last_seq on it. (This might be because it is not clear what the target of the **on_change**'s regex, while I think a **filter** regex is targeting the _global_changes update.)

In my usage, I need to write a single **on_change** that applies to

[2017-05-10 13:47] redgeoff commented on #1
You are right! My actual implementation for CouchDB 1 has the seq_num and
db_name in the change_listener. I'll move that over.

The regex in the on_change doc is for matching on DB name as you may want
the on_change to apply to a single DB, group of DBs or all DBs. I'll make a
note in the doc.

On Wed, May 10, 2017, 02:26 Will Young <notifications@github.com> wrote:

[2017-05-10 14:02] redgeoff commented on #1
https://github.com/redgeoff/spiegel/pull/2

[2017-05-10 14:02] #1 closed

[2017-05-31 11:27] lostnet opened #3 "Spiegel could use design documents for better efficiency/reuse"
In [DBUpdatesListener Service](https://github.com/redgeoff/spiegel#dbupdateslistener-service) Step 2, spiegel is listening on the **_global_changes** feed and then running every update through its own form of "filter" documents.

Looking for ways to combine this with design document usage

## Standard Filter/view Design for _changes feeds

If a design document were added to the **_global_changes**

[2017-06-01 13:21] redgeoff commented on #3
@lostnet thanks for the awesome feedback!

1. Your idea to use a design doc for the `filter` (which I just renamed to `sieve` to prevent confusion with actual CouchDB filters) is a great one! The referenced PR has the change.

2. My existing implementation actually uses a view to find the dirty CLs so I just made a note in the design to reflect this detail.

3. Your idea on the `Spiegel specific d

[2017-06-02 02:33] #3 closed

[2017-06-02 08:29] lostnet commented on #3
Thank you @redgeoff ! I like the changes you've made for system filters on global changes and describing the ones you use in the CL system. ( I'm working on implementing the cross-user behavior for a similar system, but my users are peers which provides a symmetry that keeps me worried I will generate cascading feedback loops if my filtering is incomplete or too late to prevent itself from generat

[2017-11-03 19:54] greenkeeper[bot] opened #21 "An in-range update of couch-slouch is breaking the build 🚨"
## Version **0.1.5** of [couch-slouch](https://github.com/redgeoff/slouch) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/redgeoff/spiegel/compare/greenkeeper%2Fcouch-slouch-0.1.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      couch-slouch
    </td>
  </tr>
  <tr>
    <th align=lef

[2017-11-03 20:01] redgeoff commented on #21
Fixed by https://github.com/redgeoff/spiegel/pull/22

[2017-11-03 20:01] #21 closed

[2017-11-04 21:34] redgeoff opened #23 "requestjs doesn't handle statusCode!=200 properly"
Apparently, we cannot expect request to generate an error when we get a non-200 status code! So, we need to create a wrapper like:

[code]

We also need to make sure to write a test for this as it is essential that API requests throw errors!

[2017-11-06 14:24] greenkeeper[bot] opened #24 "An in-range update of koa is breaking the build 🚨"
## Version **2.4.0** of [koa](https://github.com/koajs/koa) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/redgeoff/spiegel/compare/greenkeeper%2Fkoa-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      koa
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version
    </td

[2017-11-06 14:40] redgeoff commented on #24
Fixed by https://github.com/redgeoff/spiegel/pull/25

[2017-11-06 14:40] #24 closed

[2017-11-06 15:08] redgeoff opened #27 "Fatal error when spiegel DB doesn't exist"
For type=update-listener|change-listener|replicator, if spiegel not installed then report fatal error. Otherwise empty spiegel DB is created

[2017-11-07 00:54] redgeoff opened #30 "Wait for all requests in batch of changes"
Batch of changes should wait until all done even if nonblocking or debouncing

[2017-11-07 00:55] redgeoff opened #31 "Dirty view on replicator should include when dirty undefined"
This way replicator runs immediately and user doesn't have to worry about setting dirty flag

[2017-11-08 14:47] redgeoff opened #35 "Catch SIGNINT"
1. Use process outlined at https://stackoverflow.com/a/20165643/2831606 to catch SIGINT for update-listener and then save lastSeq before exiting.

2. Add log.info() statement when update-listener saves seq

3. Add log.info() when exit from SIGINT

[2017-11-09 05:00] redgeoff opened #39 "Configure max DB connections"
Create option at Spiegel layer to configure max DB connections at Slouch layer, i.e. https://github.com/redgeoff/slouch/blob/master/scripts/enhanced-request.js#L37

[2017-11-09 05:04] redgeoff opened #40 "Move Dockerfile, etc... to main repo"
Do this so that README is used to populate details on docker hub

[2017-11-10 01:17] redgeoff commented on #40
Fixed by https://github.com/redgeoff/spiegel/pull/43

[2017-11-10 01:17] #40 closed

[2017-11-10 02:22] redgeoff opened #45 "Race condition leads to not having 100% coverage"
As per https://circleci.com/gh/redgeoff/spiegel/201. TODO: run node-full-test back-to-back until find error.

[2017-11-10 04:50] redgeoff opened #46 "Clean up conflicts"
Conflicts are common and expected when there are multiple instances of the same type. The conflicts appear to occur organically with the CouchDB cluster's native replication between nodes. Is the best way to create an internal process that listens for conflicts on the spiegel DB and then just deletes them? Or, could also just delete conflicts when locking a change_listener or replicator? (Probably

[2017-11-10 15:57] redgeoff opened #47 "Ability to specify view in on_change"

[2017-11-15 01:25] redgeoff commented on #23
Fixed by https://github.com/redgeoff/spiegel/pull/49

[2017-11-15 01:25] #23 closed

[2017-11-15 05:09] redgeoff commented on #45
Fixed by https://github.com/redgeoff/spiegel/pull/50

[2017-11-15 05:09] #45 closed

[2017-11-15 05:41] redgeoff commented on #27
Fixed by https://github.com/redgeoff/spiegel/pull/51

[2017-11-15 05:41] #27 closed

[2017-11-15 19:25] redgeoff opened #52 "Ability to specify replicate action in on_change"
In the [on_change](https://github.com/redgeoff/spiegel/blob/master/DESIGN.md#on_change) it would be cool to have an `actions` array that would allow you specify things like replication. This would then allow you to create a on_change rule that can be used to create continuous replication of all DB's from one cluster to another, e.g.

[code]

[2017-11-15 19:30] redgeoff opened #53 "Support for dirty_after_milliseconds in replicator"
Currently, the replicator's `dirty` flag is used to immediately schedule a replication. Duplicate requests are debounced, but we may want to be less aggressive with replications. In this case we could support a `dirty_after_milliseconds` attribute in the replicator. If `dirty_after_milliseconds` then instead of setting `dirty=true` we could set `dirty_at` to a value. Then, we can create a routine

[2017-11-15 22:42] redgeoff commented on #46
Being addressed by https://github.com/redgeoff/spiegel/pull/54

[2017-11-15 22:42] #46 closed

[2017-11-16 04:53] redgeoff commented on #30
Implemented by https://github.com/redgeoff/spiegel/pull/55

[2017-11-16 04:53] #30 closed

[2017-11-16 05:40] redgeoff commented on #31
Implemented by https://github.com/redgeoff/spiegel/pull/56

[2017-11-16 05:40] #31 closed

[2017-11-16 16:11] redgeoff opened #57 "new construct in on_change"
Currently, the best way to target an on_change so that it only applies to a new DB is to check for whether the doc being updated is a design doc. The thought here is that design docs are not edited very often. Instead, we could create a `$new` construct on the on_change's `if`. When syncing the _changes, the ChangeListener process could look to see if a last_seq is missing (DB doesn't exist yet) a

[2017-11-16 22:57] redgeoff commented on #35
Implemented by https://github.com/redgeoff/spiegel/pull/58

[2017-11-16 22:57] #35 closed

[2017-11-17 08:12] redgeoff opened #63 "Move dirty_replicators view"
Move to process layer so that a dirty_change_listener view is also created.

[2017-11-17 08:16] redgeoff opened #64 "Exporter hooks"
Hooks for exporters like prometheus.

Metrics:
1. Number of DB Updates
2. Number of Dirty ChangeListeners
3. Number of Dirty Replicators

[2017-11-17 08:18] redgeoff commented on #64
Can this be achieved just by creating views and then having the exporter call the view with a limit=1? This way, exporters for different monitoring backends could be written without making changes to Spiegel.

[2017-11-17 15:41] redgeoff opened #65 "Throttle requests to API"
Use a throttler in change-processor to throttle requests to the API so that total number of concurrent requests is limited and then expose the concurrency as a CL param

[2017-11-17 21:20] redgeoff commented on #63
Implemented by https://github.com/redgeoff/spiegel/pull/66

[2017-11-17 21:20] #63 closed

[2017-11-17 23:04] redgeoff opened #69 "Backoff when replication or API request error"
Should a construct be added so that an exponential backoff occurs when there is a replication or API request error? Currently, when an error is encountered, Spiegel will put the item back in the queue and retry it. This is fine when the errors are transient and ideally all these errors would be transient, but if the error is permanent then Spiegel will _waste_ significant resources until the error

[2017-12-06 13:04] ElmoVanKielmo opened #71 "JSON parse error shortly after replicator start"
I've got the following issue. I tried to play with replicator, ran `spiegel --type install -url https://username:password@couchdb-url` before starting replicator - that went through smoothly.
I created a document in `spiegel` database like this:
[code]
Then tried to run replicator like this:
[code]
and got the following error:
[code]

[2017-12-06 15:08] redgeoff commented on #71
Hey @ElmoVanKielmo! I've only seen this error when CouchDB gets into an error state and starts spitting out bad JSON. I've fixed it by rebooting CouchDB.

Also, just to make sure:
- Spiegel must be run with CouchDB 2.0 or later
- You can run a replicator without a change-listener, but you must also run an update-listener. This shouldn't cause the error above, but I think it is a detail that you ma

[2017-12-06 15:13] redgeoff opened #72 "Combine views into a single ddoc"
As per http://mail-archives.apache.org/mod_mbox/couchdb-user/201712.mbox/%3CD7D02FB1-8761-47BF-96E6-A561EA08FC84%40apache.org%3E, Jan says

[2017-12-07 06:34] ysidheshwar opened #73 "spiegel not working (Database does not exist)"
- I have tried to install spiegel using npm install -g spiegel  this is executed successfully by referring
  following link [](https://github.com/redgeoff/spiegel/blob/master/README.md) .
- Then i tried to install spiegel database using this command
  spiegel \--type='install' \  --url='http://user:password@yourcouchdb.com:5984' with my couchdb username  password and url And i can see spiegel data

[2017-12-07 10:11] ElmoVanKielmo commented on #71
Thanks for the reply. We're on CouchDB 2.1.1 cluster and it doesn't give other errors. We have multiple clients (PouchDB) syncing with the cluster seamlessly. However I accept your explanation. The only concern is that this error causes spiegel to terminate.
So, update-listener is mandatory for replicator to work, right?

[2017-12-07 11:51] ElmoVanKielmo commented on #71
I've discussed the issue with my peer and I need to amend my statement. If spiegel really receives invalid JSON from CouchDB (which we have no evidence for as according to our logs CouchDB is running seamlessly) then it should output a clear error message to stderr (or logfile), ideally including the response body from CouchDB. The current traceback says nothing about where did it get "h" at posit

[2017-12-07 15:25] redgeoff commented on #71
@ElmoVanKielmo did you try restarting CouchDB? I've typically only seen this error when CouchDB starts spitting out Erlang errors instead of JSON and a restart usually fixes it.

As for a better error, I agree it would be nice, but this is currently the only error that JSONStream gives: https://github.com/redgeoff/quelle/blob/06310550ddd53568d1813a847ac1166f41abf74c/scripts/persistent-stream-itera

[2017-12-07 15:37] redgeoff commented on #73
If you definitely see the `spiegel` database then I think you may be missing the `_global_changes` database.

I've also created https://github.com/redgeoff/slouch/issues/57 to add a more descriptive error as these generic errors have been bugging me for a while :D

[2017-12-07 15:39] ElmoVanKielmo commented on #71
As for the background - We are in touch with CouchDB creators, including https://github.com/janl who visits our company when we need him, but we already have a lot of experience with CouchDB and we know why your approach is better for our use case than the built in replicator. But we need something reliable. We are on production stage with CouchDB cluster and all other software deployed to AWS clo

[2017-12-07 15:44] redgeoff commented on #71
If you run Spiegel via Docker then it will automatically restart and
continue working (assuming the error is not permanent). If you don’t want
to use docker then you can use systemd or something similar to take care of
the restarts.
On Thu, Dec 7, 2017 at 7:39 AM ElmoVanKielmo <notifications@github.com>
wrote:

[2017-12-07 16:01] ElmoVanKielmo commented on #71
Yes, we are using Docker but we can't take your solution with Docker Swarm as we are using kubernetes. Therefore the first tests are done without Docker and when it's promising we can create Helm chart for kubernetes and a Docker image with our hardening included. K8s will also restart the container - the problem is that on production frequent restarts will trigger alarm waking up our 24/7 2nd lev

[2017-12-07 16:06] redgeoff commented on #71
Let me think about this. I think the retrying could happen in Spiegel for
this error with a rather small enhancement.
On Thu, Dec 7, 2017 at 8:04 AM ElmoVanKielmo <notifications@github.com>
wrote:

[2017-12-09 15:31] redgeoff commented on #73
I've just released [v0.1.0](https://github.com/redgeoff/spiegel/releases/tag/v0.1.0) which adds more details to the errors. There is also an accompanying Docker image.

[2017-12-09 15:33] redgeoff commented on #71
So it turns out that Spiegel (via slouch/quelle) does retry when it receives these _Invalid JSON_ errors: https://github.com/redgeoff/quelle/blob/master/scripts/persistent-stream.js#L102. I tried a few things like abruptly terminating CouchDB to try to generate the Invalid JSON error and I cannot seem to reproduce it. Perhaps you or your colleague could trace things through to see where the error

[2017-12-12 08:56] ElmoVanKielmo commented on #71
We will try the new version

[2017-12-16 19:44] redgeoff commented on #73
Closing as no response from @ysidheshwar and latest version should provide more error info

[2017-12-16 19:44] #73 closed

[2017-12-18 15:05] greenkeeper[bot] opened #80 "An in-range update of pouchdb-find is breaking the build 🚨"
## Version **6.4.1** of [pouchdb-find](https://github.com/pouchdb/pouchdb) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/redgeoff/spiegel/compare/greenkeeper%2Fpouchdb-find-6.4.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      pouchdb-find
    </td>
  </tr>
  <tr>
    <th align=lef

[2017-12-21 18:46] redgeoff commented on #80
Fixed by https://github.com/redgeoff/spiegel/pull/81

[2017-12-21 18:46] #80 closed

[2017-12-21 20:49] redgeoff commented on #71
@ElmoVanKielmo I hope the latest version was able to solve your problem. I'm going to close this issue now as there hasn't been any more from you. Thanks!

[2017-12-21 20:49] #71 closed

[2017-12-29 09:42] ssd532 opened #82 "Replicator is not working after it has run once"
I have a simple replicator document. Currently, it looks like following:

[code]

I have observed that the replication happens only once. After that `dirty` flag never changes to true even after making changes in the source database. If I set it to `true` manually, then again the database is replicated immediately.

I tried to dig down into the source code and have found following.

- To dirty the

[2017-12-29 15:00] redgeoff commented on #82
I think the issue is that you need to place the replicator docs in the
spiegel database and not the replicator database.
On Fri, Dec 29, 2017 at 3:42 AM Sachin Divekar <notifications@github.com>
wrote:

[2017-12-29 15:46] ssd532 commented on #82
I can confirm that the replicator doc is in spiegel database only. Anyhow if the replicator document is not in spiegel database the replication will not work even once, right? Replication works when I set it to `true` manually.

Could you give me some pointer on how `dirty` flag is set to true in the replicator document when a change happens in the source database? I can dig down further. Thanks.

[2017-12-29 16:10] ssd532 commented on #82
`clean_or_locked_replicators_by_db_name` view in spiegel database with following definition

[code]
which is being referred in `_getCleanOrLocked(dbNames)` -- I am assuming is to get the list of replicators where `dirty` is `false` -- suggests that there has to be some non-design document in spiegel database with `type` field set to `replicator`. There are such documents present for change-listene

[2017-12-29 16:47] ssd532 commented on #82
It just clicked :)

The replicator document should not be a design document, right? Now when I created the replicator document as a regular document, it is working as expected. I was assuming wrong things all along.

When I had tried change-listeners, I had created them as design documents, and they were working fine. Hence I created replicators also as ddocs. It seems I need to relook at change-l

[2017-12-29 16:47] #82 closed

[2017-12-29 19:16] redgeoff commented on #82
Ahh... that explains it! Thanks. I’ll add some documentation for this.
On Fri, Dec 29, 2017 at 10:47 AM Sachin Divekar <notifications@github.com>
wrote:

[2017-12-31 22:19] redgeoff commented on #82
Ahh... that explains it! Thanks. I’ll add some documentation for this as yes, the replicator docs should not be design docs. Therefore, the ids of the replicator docs should be anything that doesn't start with `_design/`

The change_listeners are automatically created and maintained by Spiegel according to the `on_change` docs that you have created so you shouldn't have to worry about the ids of t

[2018-01-20 15:11] redgeoff opened #98 "Better to wait before dirtying again"
At https://github.com/redgeoff/spiegel/blob/57a1d09e472f6fab9d5b8b44fc001ed9bbd96777/src/replicators.js#L155 (and the similar code for the change-listener) it would probably be better to say wait a random amount from 1 to 1,000 ms before dirtying again in the event that there are conflicts. This should cut down on two update-listeners attempting to dirty the same items repeatedly.

[2018-01-20 15:27] redgeoff opened #99 "Null replicators race condition"
There exists a rather rare race condition where a replicator exists, but has not yet been registered with all the nodes in a cluster, and a _global_change entry is read for the source DB in the replicator. This in turn leads to https://github.com/redgeoff/spiegel/blob/57a1d09e472f6fab9d5b8b44fc001ed9bbd96777/src/replicators.js#L92 throwing an error as replicator is null. As a result the replicator

[2018-01-21 15:02] redgeoff opened #100 "Timeout errors in CouchDB"
There appears to be a bug in CouchDB 2.1 (and possibly other versions) that results in timeout errors like the following when Spiegel first starts up on a fresh database. This was rather consistent during stress testing. Previously, both the [quelle](https://github.com/redgeoff/quelle/blob/6be08a9842e82c6d70c134523f1cf3af042e8caf/scripts/persistent-stream.js#L108) and [slouch](https://github.com/r

[2018-01-26 06:51] broerse opened #104 "Diagram not shown on npmjs"
https://www.npmjs.com/package/spiegel

[2018-01-26 12:33] endyjasmi opened #105 "CouchDB 2.1 scheduler"
Hello, cool project you have there. Currently experimenting with the scalable listener. One thing that I noticed is since CouchDB 2.1 introduces scheduler. I think it solve the same problem as spiegel replicator.

May I know what is the differences between the two?

[2018-01-26 19:14] redgeoff commented on #104
Thanks, I think this can be fixed by including the full path to the images in the README.md and DESIGN.md files, e.g. https://raw.githubusercontent.com/redgeoff/spiegel/master/spiegel.svg

@broerse would you like to submit a PR for this?

[2018-01-26 19:24] redgeoff commented on #105
Great question! I'm planning on doing a detailed writeup on this soon. For now, the summary is that you'll want to use Spiegel if you have a lot of databases, e.g. over 500, and only have a select segment of these databases changing at any given time. The new _replicator scheduler in CouchDB 2.1 is really cool, but it:
1. Is not yet intelligent enough to only replicate the databases that are chang

[2018-01-26 20:12] broerse commented on #104
No problem but we are working hard to get ember-pouch v5.0.0 out of Beta now and it takes time. So if you want a fast PR don't wait for me.

[2018-01-26 20:24] redgeoff commented on #104
No problem, no rush!
On Fri, Jan 26, 2018 at 12:12 PM Martin Broerse <notifications@github.com>
wrote:

[2018-01-27 00:26] endyjasmi commented on #105
@redgeoff Thanks for prompt reply. You cleared of the question in my head.

[2018-01-27 00:26] #105 closed

[2018-02-03 05:20] greenkeeper[bot] opened #108 "An in-range update of eslint is breaking the build 🚨"
## Version **4.17.0** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/redgeoff/spiegel/compare/greenkeeper%2Feslint-4.17.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current V

[2018-02-03 20:34] redgeoff commented on #108
Fixed by https://github.com/redgeoff/spiegel/pull/109

[2018-02-03 20:34] #108 closed

[2018-02-12 04:27] sc0ttdav3y opened #111 "Logging shows [object Object], rather than error message"
Hi, thanks for your work with Spiegel — it's shaping up to be a great addition to the CouchDB space.

I've recently upgraded to ```v1.0.3``` and I notice now my logs are now showing [object Object] for the err.message attribute, making debugging very difficult.

Here's a sample log output:

[code]

I've looked at the logging library ```bunyan``` and although it supports an object as its first para

[2018-02-12 05:28] sc0ttdav3y opened #112 "Change listener doesn't handle a deleted source database"
Hi again!

In my application we run a per-user database model where we create and destroy CouchDB databases from time to time as user accounts are created and destroyed.

I've noticed that whenever a CouchDB database is deleted, the Spiegel update listener picks up the change (in this case, that the database is deleted), but then the Spiegel change listener continuously retries to process that dat

[2018-02-12 15:40] redgeoff commented on #112
There is indeed a design issue in Spiegel with the case where you delete databases. As you mentioned, the current functionality is for Spiegel to keep retrying the change-listener. Unfortunately, I don't think it is as simple as just detecting this _not_found_ error and then removing the change-listener as CouchDB is eventually consistent so I would imagine that you can expect to sometimes get the

[2018-02-12 15:44] redgeoff commented on #111
Interesting, I don't believe I have seen this before. I think the easiest solution could be to just use `JSON.stringify()` when making the log call. @sc0ttdav3y did you want to submit a PR for this? There may be some other log statements in Spiegel that could use this enhancement.

[2018-02-13 21:59] sc0ttdav3y commented on #111
Sure, I'll whip something up.

[2018-02-21 00:43] greenkeeper[bot] opened #114 "An in-range update of eslint is breaking the build 🚨"
## Version **4.18.1** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/redgeoff/spiegel/compare/greenkeeper%2Feslint-4.18.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current V

[2018-02-21 00:48] redgeoff commented on #114
Fixed by https://github.com/redgeoff/spiegel/pull/115

[2018-02-21 00:48] #114 closed

[2018-04-10 01:45] dmakovec commented on #71
Hi @redgeoff, I'm running 1.0.3 and am seeing an identical issue as reported above when running in ECS with CouchDB behind an AWS ELB.  I suspect this may be because the load balancer has a shortish idle timeout, so it eventually drops the connection during a long poll, resulting in Spiegel erroring out.

I see that you've made updates to slouch and quelle and there's a possibility that these may

[2018-04-10 02:43] redgeoff commented on #71
Hey @dmakovec! The latest version of Spiegel actually contains all the latest fixes in slouch and quelle.

It sounds reasonable that your load balancer could be causing these errors. I seem to remember that the biggest gotcha with the AWS ELB is that the default timeout is around 60 seconds and this happens to be the default timeout for a CouchDB feed. I fixed this by simply extending the AWS ELB

[2018-04-18 16:34] redgeoff commented on #104
@broerse any progress on this?

[2018-04-18 16:34] redgeoff commented on #111
@sc0ttdav3y any progress on this?

[2018-04-18 16:34] redgeoff commented on #112
@sc0ttdav3y any progress on this?

[2018-04-18 17:00] broerse commented on #104
@redgeoff Sorry still no time yet.

[2018-04-19 01:53] sc0ttdav3y commented on #111
@redgeoff sorry, no. It’s not currently a pain point because I’ve moved onto other aspects in my own project, however I’ll be returning to CouchDB & Spiegel in the next few weeks so I should be able to take a fresh look then.

[2018-04-19 01:56] sc0ttdav3y commented on #112
@redgeoff I’m currently on other non-couchdb/spiegel work but will look again in a few weeks. This one may be a bit beyond my understanding of Spiegel’s architecture though, so I’ll take a fresh look if it’s still outstanding soon, but I may not be comfortable in solving it.

[2018-04-19 03:11] redgeoff commented on #112
Sounds good. Let me know if you need some help

[2018-04-19 03:12] redgeoff commented on #111
Great. Please let me know if you need help.

[2018-04-27 23:13] ephopper opened #118 "Replication Filters"
Could you provide some detail as to how to use the filter property of the replicator docs? I wasn't able to find anything in the docs about it, other than that it is available to use.

I tried different variations of mango style selectors as well as simple regex statements, but all caused the replicators to error and be retried many times before I was finally able to delete the docs.

[2018-04-28 17:57] redgeoff commented on #118
Hi @ephopper! I don't believe you can use mango selectors with [filtered replication](http://docs.couchdb.org/en/2.1.1/api/server/common.html#replicate). Instead, I think you need to use views or filters defined in design docs.

I've added more documentation that shows an [example of filtered replication](https://github.com/redgeoff/spiegel/blob/master/DESIGN.md#replicator) with Spiegel.

[2018-04-28 17:57] #118 closed

[2018-04-28 20:07] ephopper commented on #118
Hi @redgeoff, Thanks for the information! That answers my question!

a note about mango selectors - they aren't shown in the api, but here is an example of using them for filtered replication when POSTing to the `/_replicate` endpoint:

[code]
this successfully sets up a one-shot replication of all docs in testdb1 whose _id starts with `someDoc` to testdb3

I've also been using mango selectors for

[2018-04-28 20:14] redgeoff commented on #118
Interesting! If the selectors work for the _replicator endpoint then they
will work in Spiegel.
On Sat, Apr 28, 2018 at 1:07 PM ephopper <notifications@github.com> wrote:

[2018-04-28 20:34] ephopper commented on #118
When I tried previously, the replicators kept failing/retrying. I tried different versions of the above selector and couldn't get it to work though.

I'm guessing my syntax might have been incorrect for passing the selector through spiegel then. I'll try a few more things and see if I can get it to work.

Thanks!

[2018-04-29 18:49] ephopper commented on #118
looks like the issue was me trying to make the selector the value of the filter property instead of having the selector be the top level property. But this works:
[code]

[2018-04-29 23:53] redgeoff commented on #118
Cool!

On Sun, Apr 29, 2018 at 11:50 AM ephopper <notifications@github.com> wrote:

[2018-05-24 02:12] ephopper opened #122 "on_change if's with nested properties"
given a document:
[code]
I can create an on_change doc that has:
[code]
these will work fine. However if I try:
[code]
this doesn't seem to work.

are the if's only meant to work against the top-level properties of the documents?

[2018-05-24 02:41] redgeoff commented on #122
Yes, the conditional logic [only works against the top level](https://github.com/redgeoff/spiegel/blob/eb31e148e92e3b62546e257308180f197ee798c6/src/on-changes.js#L208). I think of two possible enhancements for this:
1. Enhance https://github.com/redgeoff/spiegel/blob/eb31e148e92e3b62546e257308180f197ee798c6/src/on-changes.js#L210 to use recursion to support nested properties
2. Use https://github.

[2018-05-24 05:02] ephopper commented on #122
Gotcha. Yeah, I actually found that spot in the code but wasn't sure if I was missing something else.
looking at sift makes me wonder if it wouldn't be possible to use mango selectors in the on_change docs somehow also.
I'm not exactly sure how pouch deals with them off-hand, but I've been using mango selectors in my pouch change listeners and they work fine.
I think for what I'm doing now though,

[2018-05-24 05:50] redgeoff commented on #122
Using mango selectors would be a cool idea, but the current design takes a [single _changes feed per database](https://github.com/redgeoff/spiegel/blob/eb31e148e92e3b62546e257308180f197ee798c6/src/process.js#L324) and then checks all on_change docs. In order to support mango selectors you'd need a feed per on_change and this would definitely increase the complexity of the change-listeners. I don't

[2018-05-24 20:45] ephopper commented on #122
Good point. It seems that avoiding unneeded complexity and latency would be a good idea.

I'll have to keep my work around simple for the now given lack of time, but if I can I'll take a deeper look into sift.

Thanks!

[2018-06-03 23:50] greenkeeper[bot] opened #124 "An in-range update of nyc is breaking the build 🚨"
## Version **12.0.2** of [nyc](https://github.com/istanbuljs/nyc) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/redgeoff/spiegel/compare/master...redgeoff:greenkeeper%2Fnyc-12.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>nyc</code>
    </td>
  </tr>

[2018-06-04 19:37] ephopper opened #127 "Question: PouchDB implementation"
I've been testing Spiegel on the backend and it seems to work out pretty well for what I'm doing. I'm developing a mobile app and was wondering about the feasibility of creating a "frontend" version that works with Pouch that I could use client-side.
Have you looked into anything like that at all?

In looking through some of the code, it seems that both Spiegel and Slouch are looking for the `_glo

[2018-06-04 20:20] redgeoff commented on #127
Interesting idea! The global_changes feed is pretty specific to CouchDB so
it may take a lot of work to recreate something like this in the browser.

As for Spiegel itself, it’s definitely doable as I believe all the
dependencies, except spawn, also work in the browser. All in all though I
think it would take a significant amount of work to set it up and test it
and this isn’t the direction that I

[2018-06-04 20:56] redgeoff commented on #124
Fixed by https://github.com/redgeoff/spiegel/pull/126

[2018-06-04 20:56] #124 closed

[2018-06-04 21:11] ephopper commented on #127
Hi @redgeoff ,
The idea was actually to try and use Spiegel on both the frontend and the backend if possible. In my testing on the backend so far, it seems to work great - thus my curiosity for use on the frontend.

As to the why:
We're developing a mobile app that uses Pouch on the client to sync the user's DB's with those on the Couch backend. There may be multiple DB's that the user is subscrib

[2018-06-05 00:18] redgeoff commented on #127
The way that we handled the listening to multiple DBs from the client was
using https://github.com/redgeoff/couchdb-howler and then only syncing when
there is a change for a specific DB.
On Mon, Jun 4, 2018 at 2:11 PM ephopper <notifications@github.com> wrote:

[2018-06-05 02:50] ephopper commented on #127
Looks Interesting!
I'll look into it a bit deeper and see if it will work for us. I may be asking you some questions over there too then ;)

Thanks!

[2018-06-05 21:53] #127 closed

[2018-06-07 03:40] redgeoff opened #129 "Use Spiegel to automatically delete conflicts"
Could create an internal action like `destroy_conflicts` and use it in an `on_change`. Would need to have conflicts returned in change to select on. Can this be done?

[2018-06-18 10:17] tudordumitriu opened #132 "Passwords are not injected in replication handler requests"
We are running the replicator service with the following command:
spiegel --type="replicator" --url="http://sa:**@192.168.0.127:5984" --passwords-file="replicator-passwords.json" --log-level="info" | bunyan

If we are not including the admin pass in the replication documents URLS (which should work I guess) replication is not working and it throws the following error:
Could not open source databas

[2018-06-19 03:33] redgeoff commented on #132
Hi @tudordumitriu! On the surface it looks like this should work, but from the error you can see that no password has been injected, which means that Spiegel didn't find any corresponding password. I'd check the path to your `replicator-passwords.json`--I think you may need an absolute path.

Also, to be clear your `replicator-passwords.json` needs to be something like
[code]

[2018-06-19 08:27] tudordumitriu commented on #132
Thanks
I was using the url not just the host

[2018-06-19 08:27] #132 closed

[2018-06-24 18:10] greenkeeper[bot] opened #134 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## Version **2.13.0** of **[eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/redgeoff/spiegel/compare/master...redgeoff:greenkeeper%2Feslint-plugin-import-2.13.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </t

[2018-06-24 20:31] greenkeeper[bot] opened #135 "An in-range update of sinon is breaking the build 🚨"
## Version **6.0.1** of **[sinon](https://github.com/sinonjs/sinon)** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/redgeoff/spiegel/compare/master...redgeoff:greenkeeper%2Fsinon-6.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <code>[sinon](https://github.co

[2018-06-26 11:09] tudordumitriu opened #136 "Updating filter design docs while Spiegel processes are running stops replication permanently"
As the title says if we update design doc filters while processes are running causes the Spiegel db replication records to became dirty: true and locked_at: timestamp which I think might be the cause for stopping replication permanently.

Updating the fields in Speigel db docs manually and restarting the processes will restart the replication, but otherwise nothing can be done.

This is kind of na

[2018-06-26 16:11] redgeoff commented on #136
Hey @tudordumitriu! The replications will be restarted automatically. There is a routine that periodically checks for stalled processes and then retries them. This routine will retry the replications indefinitely. (You can read more about it in the [replicator](https://github.com/redgeoff/spiegel/blob/master/DESIGN.md#replicator) and [Replicator Proceses](https://github.com/redgeoff/spiegel/blob/m

[2018-06-27 05:50] tudordumitriu commented on #136
Hi and thanks @redgeoff
What is the retry interval?
Because we waited for few mins and nothing happen

[2018-06-28 16:07] redgeoff commented on #136
Currently, the default for [retryAfterSeconds is 10800](https://github.com/redgeoff/spiegel/blob/master/bin/usage.txt#L75) and [checkStalledSeconds is 600](https://github.com/redgeoff/spiegel/blob/master/bin/usage.txt#L90) and it will take roughly checkStalledSeconds + retryAfterSeconds before an action is retried.

As for the second part of your question, yes, please split it out into a separate

[2018-07-03 05:57] tudordumitriu commented on #136
Thanks

[2018-07-03 05:57] #136 closed

[2018-07-03 06:06] tudordumitriu opened #138 "Performance considerations for large number of users with multiple replications for each"
Hi
We have the following setup: one db per user, every user db replicates to the central db certain docs, and docs sharing is done from central db to user db using other replication documents (basically each user selects what he wants to share with a list of friends).
Our Spiegel docs per user look like (central_to_org.couchdb.user:a - with filters, user_to_central_org.couchdb.user:a - with other

[2018-07-03 14:04] redgeoff commented on #138
Hey @tudordumitriu! It is a little hard to know exactly how your setup is working without knowing more details like the exact contents of your replicator docs. If you can provide them then that should help.

From what you have described it sounds like each time the user's DB changes Spiegel will detect this change via the _global_changes feed (a single continuous stream from CouchDB for each Updat

[2018-07-04 03:45] tudordumitriu commented on #138
Hey
Thanks again for you quick answer and here are few more details

1. Here is a screenshoot with the logs that I am looking at (again maybe is just me overreacting):  https://www.screencast.com/t/nik5HfzA9lvX
2. Here are the replicator docs for a specific user:
{
  "_id": "central_to_org.couchdb.user:a",
  "_rev": "4501-72cb5269de497882c20ff124966d1ef7",
  "$doctype": "spiegelEntity",
  "type":

[2018-07-04 19:18] redgeoff commented on #138
I believe the issue is that Spiegel performs all the replications defined by the replicator docs whenever the target DB changes, regardless of whether the change is for a particular filter/view. In your case this means that when the central DB changes then replications occur for all the user DBs.

I think an alternative design could instead replicate between user DBs, which would mean that data is

[2018-07-04 19:33] redgeoff commented on #138
And just thinking off the top of my head, another possible enhancement to Spiegel is to define “dynamic” replicator docs that would take the values in the changed doc and then determine which replication to perform. So, you could define a single replicator doc for the central DB that would dynamically perform all the replications to the appropriate user DBs

[2018-07-05 10:03] tudordumitriu commented on #138
Thanks @redgeoff, really appreciate it
We will definitely try the on_change / dynamic replication API solution, just not now, since we need to focus on features but surely will keep you posted in couple of months, when we'll implement it.

[2018-07-06 08:14] tudordumitriu commented on #138
Actually, related to the on_change solution.
1. In on_change we would receive the doc and we would have to load the corresponding rules from Spiegel (we still need to load the allowed friends rules, but we would do it in a performance friendly way, loading only the corresponding rules, so here's the catch) and we would carry on the exact replications that we want to, right?
2. Would it be failsafe

[2018-07-06 14:02] redgeoff commented on #138
1. I'm not sure I understand your question. I'd suspect that you'd want to use the [`$changes`](https://github.com/redgeoff/spiegel/blob/master/DESIGN.md#on_change) construct which will allow you to send the entire change doc to your API. Then, your API should be able to determine which replications are needed and make them.

2. The changes are almost failsafe. CouchDB does not guarantee that the

[2018-07-11 09:03] tudordumitriu commented on #138
1. Exactly, my bad expressing it, indeed there lies the optimization
2. Unfortunately we do need to support offline first - we started with that..well..first :)

Thanks for now, we'll see how things will work out

[2018-07-19 14:14] jjd314 commented on #69
Even worse for me is that the spiegel_cl_xxx document for the database in question gets continually updated.  If there is a real problem and the API is unavailable for a few hours, it can easily fill the disk that the spiegel database is on.  An exponential backoff would prevent that, and if it is recorded in the spiegel_cl_xxx document, as I imagine it would be, one could create a view on the spi

[2018-07-19 23:21] redgeoff commented on #69
Agreed. PRs are welcome and I can help if you are interested in submitting a PR ;)

[2018-07-20 12:30] jjd314 commented on #69
Sure, I'll give it a shot.  I don't know how much time I have for it, but I'll try to keep it moving along.  My guess is that the ChangeProcessor will have to somehow return information about the backoff to the ChangeListener so it can be written into the on_change doc.  I'm thinking that I will make two changes to the ChangeListener (besides recording the backoff): if there is a backoff reported,

[2018-07-20 17:05] redgeoff commented on #69
Well, I think the key to making this enhancement is that you need to worry about multiple instances of the services, e.g. ChangeListener and also need to account for services being restarted, added, etc... In other words, the state of whether the item needs to be retried needs to reside in the DB and not in the memory of a single service. So, I think implementing the enhancement at https://github.

[2018-07-20 18:01] jjd314 commented on #69
Great.  It's a twofer.  I'll take a look at #53 first, then.

[2018-07-25 23:31] #112 closed

[2018-07-26 03:31] redgeoff commented on #134
Already have latest in master.

[2018-07-26 03:31] #134 closed

[2018-07-26 03:35] redgeoff commented on #135
Fixed by https://github.com/redgeoff/spiegel/pull/145

[2018-07-26 03:35] #135 closed

[2018-07-26 14:31] jjd314 commented on #69
I just submitted a pull request for #53.  I'm going to assume that it will eventually get merged, and I'm starting work on this based off of that code.  I have a couple of questions:
1. What are reasonable initial and max backoff times?  I'm thinking of starting at 500ms and doubling it each time until a max of 1 hour.
2. Should those values be customizable?  If so, should they be global parameter

[2018-07-26 17:22] jjd314 opened #147 "assume-deleted-after functionality does not actually work"
I fooled myself when testing it by starting the change-listener many minutes after all the docs had been marked as dirty, so the _getAndDestroy branch in _processAndUnlockIfError was immediately taken.  If the dirty flag gets set during the normal course of events, the _isProbablyDeleted() call fails, and the else branch in taken.  The _upsertUnlock ends up changing the updated_at field, and the a

[2018-07-26 17:45] redgeoff commented on #69
1. I think that sounds reasonable
2. I think as global parameters is a good place for now. It would be easy to change this in the future.
3. I think the best thing for now is to manage the retrying on on_changes via the change_listener, i.e. somewhere like https://github.com/redgeoff/spiegel/blob/master/src/change-listeners.js#L239 you can  set dirty_at for the CL and not update the seq num on the

[2018-07-26 17:48] redgeoff commented on #147
I think the solution may be something like https://github.com/redgeoff/spiegel/pull/144#issuecomment-408170736

[2018-07-28 00:56] ephopper opened #148 "Daemon made invalid request"
I'm receiving the below errors for the listener and replicator processes.
the replication still seems to work. It appears that the errors for those ([line 195](https://github.com/redgeoff/spiegel/blob/0768746c31f56bda65c98f288cd4ae1dfbbd2e92/src/replicators.js#L195)
and [line 199](https://github.com/redgeoff/spiegel/blob/0768746c31f56bda65c98f288cd4ae1dfbbd2e92/src/replicators.js#L199)) refer to l

[2018-07-29 15:05] redgeoff commented on #148
Hi @ephopper! I'm a little confused as to where these logs are coming from. They look like they may be CouchDB log entries, but if that is the case then they shouldn't include line numbers in the Spiegel code unless Spiegel is sending the error to CouchDB, something it should not be doing. Or, if these entries are from Spiegel then where is it getting names like _spiegelUpdates_?

I've personally

[2018-07-29 19:53] ephopper commented on #148
Hi @redgeoff! Sorry for the confusion. I forgot to mention that I have couch running the Spiegel processes as OS daemons, so they are couch logs. spiegelUpdates, etc are just the names that I gave the processes. I had it set up that way so that couch could manage the processes.

I'm guessing there is a dependency issue somewhere along the line that I haven't been able to track down yet. In my orig

[2018-07-29 19:53] #148 closed

[2018-07-30 21:54] regner opened #149 "Not understanding update-listener and all the requests to individual docs"
Hello o/,

We have a couchdb cluster with ~17,000 databases. Many of those DBs have between 15,000 and 20,000 docs, some of them have even more docs.

When I run the update-listerner our cluster gets absolutely smashed with requests for `/some-database/some-document?revs=true&open_revs=some_rev_id&latest=true`.

My questions are:
1) What are those requests for compared to watching the `_global_cha

[2018-07-30 23:17] redgeoff commented on #149
Hey @regner. This seems strange as Spiegel doesn't directly issue calls like this. If you are sure that the calls are not coming from your software then my guess it these calls are internal to CouchDB and coming from either the replications or listening to _changes feeds. I would suspect that this is an initialization thing: when Spiegel first runs it needs to iterate through all the _changes feed

[2018-07-31 16:43] regner commented on #149
This will require some more research then. The requests for those docs did not appear to be coming from couch and this was from a DB server that is a replica of production for testing spiegel, meaning nothing else is reading/writing to it.

Will let you know what I find out.

[2018-08-26 21:50] #147 closed

[2018-09-27 03:57] #138 closed

[2018-09-27 03:57] #149 closed

[2018-09-28 13:58] #53 closed

[2018-09-28 16:03] jjd314 opened #161 "on_change if test for null or missing property"
Allow an if clause in on_change docs like this:
[code]
to match only if the property `someProperty` is null or not present.

[2018-09-28 16:07] redgeoff commented on #161
Hey @jjd314. This looks good, but I think I'd rather go a step further and support `sift`. Check out the sift option at https://github.com/redgeoff/spiegel/issues/122#issuecomment-391569489. It shouldn't be that much more work and it would us up to be able to perform all types of complex queries.

[2018-09-28 16:13] redgeoff commented on #100
I think these errors may have been fixed by CouchDB2.2.

[2018-09-28 16:16] jjd314 commented on #161
Yes, that would be better.  I'm not going to be able to get to it soon, though.  I needed the null/missing test so I added it.  You're welcome to merge this in for a small added feature, or you can wait for sift and I'll just keep using my branch.

[2018-09-28 16:17] redgeoff commented on #161
Cool, I think I'll wait for the sift feature before merging as it will keep the code cleaner. Thanks.

[2018-09-28 18:16] jjd314 commented on #161
Excellent, thanks!  Saves me the trouble of rebasing my branch after every update.

[2018-10-18 14:54] elgutierrez opened #164 "Question: PouchDB <-> CouchDB live sync in scale"
Hello,

First of all, I would like to thank you for your article about how to run a CouchDB cluster in production using AWS, it was really helpful.

I'm developing an app that is already using PouchDB and storing the data offline, and we're going to deploy a CouchDB server so we can back up the user's data on the cloud. We are using the db-per-user architecture and Superlogin for user authenticati

[2018-10-18 15:13] redgeoff commented on #164
Hey Rafael, I think you are probably going to run into issues live syncing
7k DBs using CouchDB’s built-in replicator. It will work, but you’ll have
to allocate a ton of file handles to keep all the streams open. Instead,
I’d recommend using Spiegel and creating a replicator doc per DB. This
solution will scale a lot better.
On Thu, Oct 18, 2018 at 7:54 AM Rafael Gutierrez <notifications@github.co

[2018-10-18 15:21] redgeoff commented on #164
Actually, your post also mentions live syncing PouchDB and CouchDB and that
is a bit of a different beast. In this case I’d recommend using
https://github.com/redgeoff/couchdb-howler and an on-demand sync as it will
scale better than having a dedicated feed per client.
On Thu, Oct 18, 2018 at 8:13 AM Geoffrey Cox <redgeoff@gmail.com> wrote:

[2018-10-18 18:09] elgutierrez commented on #164
I don't really get how `couchdb-howler` interacts with pouchdb, nor what you mean by on-demand sync. Could you explain a little further?

[2018-10-18 18:28] redgeoff commented on #164
Well, the details on what I recommend depend on your data.

1. It sounds like each client/app is only syncing with a single DB, right?

2. How many of these users will be using the app concurrently? Is it all
7k? Is this number likely to grow?
On Thu, Oct 18, 2018 at 11:11 AM Rafael Gutierrez <notifications@github.com>
wrote:

[2018-10-18 18:46] elgutierrez commented on #164
1. We are using the `db-per-user` architecture, so yes, each user is synching with their on DB. We're planning to have a CouchDB Cluster (3 instances at the beginning) + Loadbalancer

2. We don't expect to have 7k concurrent users right now (most likely 500 now), but it could become a reality soon if we have a successful product :) It could even go further, we never know...

I'm also taking a look

[2018-10-19 14:10] redgeoff commented on #164
1. I asked this because in my experience, I'd often had to use a hybrid version of a db-per-user and also a db-per-group, as this allows more users to share data. This essentially means that a single client is listening to multiple DBs and this makes things more complicated as a browser has a limited amount of connections that it can hold simultaneously. Fortunately, your use-case is more simple ;

[2018-10-24 13:57] #164 closed

[2018-10-25 19:03] redgeoff commented on #164
Hey @regner!

I think it would help if I dig in a little deeper as to why you would need [couchdb-howler](https://github.com/redgeoff/couchdb-howler). couchdb-howler allows you to subscribe to CouchDB global changes in a scalable way. The native way to get a list of changes is to listen to the _global_changes feed on the CouchDB. This, however; requires a dedicated connection and can be costly if

[2018-10-28 15:25] redgeoff opened #166 "Why do mocha tests now need --exit flag?"
This is probably due to unterminated listener. See https://github.com/mochajs/mocha/issues/3044 for more info.

I had to add https://github.com/redgeoff/spiegel/pull/165/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R27 to side step the problem

[2018-12-09 20:58] greenkeeper[bot] opened #167 "An in-range update of sporks is breaking the build 🚨"
## The dependency [sporks](https://github.com/redgeoff/sporks) was updated from `1.0.0` to `1.0.1`.

🚨 [View failing branch](https://github.com/redgeoff/spiegel/compare/master...redgeoff:greenkeeper%2Fsporks-1.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sporks is a direct dependency of this project, and **it is v

[2018-12-09 21:57] greenkeeper[bot] opened #169 "An in-range update of couch-slouch is breaking the build 🚨"
## The dependency [couch-slouch](https://github.com/redgeoff/slouch) was updated from `1.0.4` to `1.0.5`.

🚨 [View failing branch](https://github.com/redgeoff/spiegel/compare/master...redgeoff:greenkeeper%2Fcouch-slouch-1.0.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

couch-slouch is a direct dependency of this proj

[2018-12-09 22:06] redgeoff commented on #169
Fixed by https://github.com/redgeoff/spiegel/pull/170

[2018-12-09 22:06] #169 closed

[2018-12-09 22:06] redgeoff commented on #167
Fixed by https://github.com/redgeoff/spiegel/pull/170

[2018-12-09 22:06] #167 closed

[2018-12-20 14:13] lostnet opened #171 "on_change support $variables in the url's path similar to parameters"
Currently, on_change supports $ variables in parameters:
[code]
Which then end up as query parameters or in the data sent depending on the request type.

But I would like to support existing APIs that are variable on other url components, for example couchdb's update design documents:

[code]

I think the [_buildParams
](https://github.com/redgeoff/spiegel/blob/master/src/change-processor.js#L45)

[2018-12-20 21:51] lostnet commented on #47
I've experimented with forcing a view on dbs that match a specific regex and it seems to work ok, but it has the same conceptual problem as mango queries in https://github.com/redgeoff/spiegel/issues/122#issuecomment-391596516. It would be necessary to configure this per db and then live with one shared view to avoid separate _change feeds per view where multiple may be observing one db.

Since on

[2018-12-21 15:53] greenkeeper[bot] opened #172 "An in-range update of koa-body is breaking the build 🚨"
## The devDependency [koa-body](https://github.com/dlau/koa-body) was updated from `4.0.4` to `4.0.5`.

🚨 [View failing branch](https://github.com/redgeoff/spiegel/compare/master...redgeoff:greenkeeper%2Fkoa-body-4.0.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

koa-body is a devDependency of this project. It **might

[2018-12-23 18:58] redgeoff commented on #171
Hey @lostnet! I think this would be a great enhancement. Like you state, we should be able to reuse the same logic in buildParams to set variables in the URL string. Would you be willing to work on a PR?

The big gotcha right now is that something changed in one of spiegel’s deps so the tests are broken on CircleCI—it appears to be a race condition and I just haven’t had time to look into it yet.

[2018-12-23 19:04] redgeoff commented on #172
Need to fix tests on CircleCI before resolving this issue

[2018-12-23 19:06] redgeoff commented on #47
I need to think about this a little more, but so I understand this a bit better, would adding support for sift give you what you need? Structurally speaking, this should be a much easier change

[2018-12-24 01:40] lostnet commented on #47
@redgeoff I don't think sift would help since however complex the queries can be, I think it is still a static config per on_change doc? I dynamically add a design doc to filter based on the user's roles into their per-user-db and then I use this view in the _changes feed. Consequently, I only need one on_changes doc with my wildcard that matches all userdbs, but then it needs to be to the filtere

[2018-12-25 22:16] lostnet commented on #171
Hi @redgeoff, I put together a PR with the method I was thinking of and a unit test. I get some failures whether or not I am using my changes at "spiegel->integration->should replicate and listen to changes" which I think are the problems breaking CircleCI?

[2018-12-26 17:15] redgeoff commented on #47
Your idea of having a config per DB sounds cool, but I think it could lead to problems where an on_change doesn't fire because the user doesn't expect to have to have a global view config.

The most robust solution is to have a ChangeListener per db-view pair and this will make things A LOT more complex.

Another idea I have is to read in the views dynamically, which are just JS functions, and the

[2018-12-26 20:18] lostnet commented on #47
This could only really happen if 2 users are configuring the same spiegeldb, i.e. if the config doc doesn't exist or doesn't have a matching regex there are no additional options, so only spiegel's current _changes options apply keeping all existing usage of spiegel from changing behavior. It would be nice to have a cli option to insist the view config file must exist to avoid the problem of tryin

[2018-12-27 16:33] redgeoff commented on #47
I guess I need to be a little clearer about my concern with #1. The issue I see is not from an implementation standpoint as I think it will work fine. My problem is that once you specify a ChangListener to use a view then it is locked to that view and that means that all other on_changes for this DB must we with respect to this view. I don’t think this is very intuitive and I think there will be c

[2018-12-27 16:46] redgeoff commented on #47
Although inefficient, you can currently use a custom API endpoint to implement the special view logic and just specify this endpoint in an on_change doc.

[2018-12-30 16:41] redgeoff commented on #172
Replaced by https://github.com/redgeoff/spiegel/pull/175

[2018-12-30 16:41] #172 closed

[2019-01-01 21:34] redgeoff commented on #171
Implemented by https://github.com/redgeoff/spiegel/pull/173

[2019-01-01 21:34] #171 closed

[2019-01-03 14:37] lostnet opened #177 "throw when an API status code is not 200 ignores that all 2xx responses are valid"
Existing APIs such as [couchdb's update](https://docs.couchdb.org/en/2.2.0/api/ddoc/render.html#db-design-design-doc-update-update-name-doc-id) send other 2xx response codes for results such as a 201 Created, as per the [spec](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.2)

I think spiegel is waiting for the response event, so there is no need to consider 1xx events and it is saf

[2019-01-03 15:12] redgeoff commented on #177
Nice catch! I think checking for >=200 && <400 would be best.

On Thu, Jan 3, 2019 at 8:37 AM Will Young <notifications@github.com> wrote:

[2019-01-03 15:42] lostnet commented on #177
On 3xx response codes my thinking is that request is either handling them for us and replacing the code or it is a 3xx where spiegel would need to do something but doesn't? I.e they are errors if we see them. But I haven't really done anything to test how request works with redirects exactly..

[2019-01-03 16:38] redgeoff commented on #177
Yeah, I don’t have any experience with 300-level codes so that would also
work for me

On Thu, Jan 3, 2019 at 9:42 AM Will Young <notifications@github.com> wrote:

[2019-01-04 14:00] lostnet commented on #177
I'd like to test some other APIs in the next weeks and one of them uses 3xx redirects regularly but it uses GET so if I understand the follow section in the [request README](https://github.com/request/request) it will happen automatically and the 2nd response will work with the 2xx coverage.

It seems like there are a few situations for 3xx on other methods where it might be impossible to determin

[2019-01-04 17:36] redgeoff commented on #177
I think this sounds like a good plan!

[2019-01-15 20:58] bgold0 opened #178 "Change Listening service to external API?"
I'm attempting to create a Scalable Change Listening service that I can look for changes made to my database and then send that these changes to an external API (not couchdb)

I'm not quite sure in the documentation where it shows how to do this. It seemed like this is possible in the explanation you gave but everything I see in the documentation references couchdb url's.

Could anyone provide mor

[2019-01-16 16:42] remcovanvugt opened #179 "Slashes in db names?"
Hi,

It seems spiegel is not picking up changes in databases with names containing (escaped) slashes.
eg the spiegel replicator doc contains:

"source": "http://mysuser@mycouchhost.com/db%2Fname%2Fname2"
"dest": "http://myuser@mycouchreplhost.com/db%2Fname%2Fname2"

Initially the db replicates, but when I add a doc or delete a doc, the change is not replicated.

In the same setup, this works for d

[2019-01-17 14:04] remcovanvugt commented on #179
I did some further research into this. I found out the _global_changes has db names like this:

update:db/name/name

_toDBname in update_listeners.js strips off update: and uses the rest as-is as db name. The Spiegel replicator doc has source and target specified as URL-safe names. Otherwise replication would fail I would assume.

Therefore, in the clean_or_locked_replicators_by_db_name view, the

[2019-01-17 14:30] redgeoff commented on #179
Nice work. I’ll take a look in a bit

On Thu, Jan 17, 2019 at 6:04 AM Remco van Vugt <notifications@github.com>
wrote:

[2019-01-27 15:12] redgeoff commented on #178
Hi @bgold0! You’d want to use an [on_change](https://github.com/redgeoff/spiegel/blob/master/DESIGN.md#on_change) doc

[2019-01-27 15:12] #178 closed

[2019-01-30 14:36] redgeoff commented on #179
Fixed by https://github.com/redgeoff/spiegel/pull/180

[2019-01-30 14:36] #179 closed

[2019-02-02 17:12] redgeoff commented on #177
@lostnet any chance in creating a PR for this (with a test)?

[2019-02-02 17:13] #100 closed

[2019-02-04 21:55] lostnet commented on #177
@redgeoff I did some investigation into web apis starting with mailgun. Aside from this issue I'd like to:
1. add support for explicitly specifying data format (i.e. formData) for those who can't use the default [json](https://github.com/redgeoff/spiegel/blob/master/src/change-processor.js#L107)
2. add support for $change.vars generalizing beyond the [id/rev support](https://github.com/redgeoff/sp

[2019-02-04 22:12] redgeoff commented on #177
Sounds good. One PR at time is best :)

On Mon, Feb 4, 2019 at 1:55 PM Will Young <notifications@github.com> wrote:

[2019-02-12 14:53] #177 closed

[2019-02-26 09:09] sonnguyent1 opened #187 "file /usr/src/app/password.json does not exist"
As the instruction, I tried creating service `change-listener` on Swarm with option `mount`:

`--mount type=bind,source=/home/docker/change-listener-passwords.json,target=/usr/src/app/passwords.json`

Then i tried accessing container `spiegel` ,  I find path `/usr/src/app/passwords.json` does not exist

[2019-04-13 16:43] greenkeeper[bot] opened #188 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## The devDependency [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) was updated from `2.17.0` to `2.17.1`.

🚨 [View failing branch](https://github.com/redgeoff/spiegel/compare/master...redgeoff:greenkeeper%2Feslint-plugin-import-2.17.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plug

[2019-05-13 04:15] greenkeeper[bot] opened #194 "An in-range update of yargs is breaking the build 🚨"
## The dependency [yargs](https://github.com/yargs/yargs) was updated from `13.2.2` to `13.2.4`.

🚨 [View failing branch](https://github.com/redgeoff/spiegel/compare/master...redgeoff:greenkeeper%2Fyargs-13.2.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

yargs is a direct dependency of this project, and **it is very

[2019-05-30 10:07] yanggf8 opened #195 "Help need for creating on_change doc"
Dear all,
   Please tell me where should I put on_change doc? The README.md says in SpiegelDB. What exactly is this SpiegelDB is? Is it located in
_global_changes database as a document (id:on_change) of CouchDB that Spiegel watches? Or I should put this on_change doc in somewhere else?

[2019-05-30 11:03] yanggf8 commented on #195
found the spiegeldb. sorry for disturbing.

[2019-05-30 11:03] #195 closed

[2020-04-27 13:10] #188 closed

[2020-04-27 13:11] #194 closed

[2020-07-20 06:16] kripper opened #220 "Spiegel vs directly accessing /_db_updates?"
If we just need to listen to global changes (and run a script each time a new document is created/updated/deleted somewhere), what benefits offers Spiegel vs just directly accessing `/_db_updates` (live) and then checking each DB `/_changes` feed?

(No replication is required)

[2020-07-21 22:26] lostnet commented on #220
### To summarize spiegel's handling for on_change documents:

The spiegel update listener is accessing the '_db_updates' feed to mark change-listener 'cl' documents in the spiegeldb as dirty for any dbs that were updated and are being watched, aside from marking these meta documents it is keeping its meta bookmark for where it is in the global changes so that it does not rerun the feed when it is

[2020-07-22 01:41] kripper commented on #220
Thanks will,

Ok. Basically Spiegel keeps record of changed DBs and the last sync'ed sequence for each DB and CL.

Ok. The CLs then check the CL-docs instead of listening the `/_db_updates`.
So basically Spiegel acts like a cache for `/_db_updates` and there is a real benefit if we have **many CLs** right?
Specifically the benefit is when **many CLs** will check changes on-demand and not in a stre

[2020-07-22 09:46] lostnet commented on #220
Yes, though spiegel is making sure your processing succeeds on each relevant change at least once, and trying to make that mostly just once verse needing to reprocess all past changes in a db at the same time to be sure they were processed at least once after a total restart, etc. (It also makes it easy to manipulate this state if you need to partially reprocess after a change to your service, etc

[2020-07-22 19:00] kripper commented on #220
Well, when I said "in a streaming fashion" I didn't mean to do "?since=now" (miss the last changes) or "?since=0" (reprocess all). Keeping position references (update sequences) for each database is something I would consider mandatory.

By "in a streaming fashion" I meant a use case where it doesn't happen (under normal circumstances) that a CL goes offline while other CLs are online. In case a n

[2020-07-23 08:07] lostnet commented on #220
I'm not sure what you mean here. In a given spiegeldb there's only one global_changes position that ULs are trying to update and marking CL documents as dirty based one logical run through the global changes feed. This is sufficient to make sure the 1-n CL processes collectively look at each db that has been updated and bring their position in each up to date.

That one process could be both the C

[2020-07-23 18:48] kripper commented on #220
I mean that the UL is tracking dirty databases for each CL, right?
I imagined the CL-docs to be like a list of changed databases and that this list is exclusive for each CL, since each CL may subscribe to different databases. And I understand that the CL then fetch the changed docs directly from the Couchdb servers, right?

[2020-07-23 21:28] lostnet commented on #220
The UL is watching only `updated:[dbname]` records of the global feed, and can find its exact spiegel's CL doc for that database to mark dirty. If the CL doc doesn't exist it needs to figure out if one or more on_change#db_name regex matches and then create that cldoc for the exact db. Note the [update#db_name](https://github.com/redgeoff/spiegel/blob/master/DESIGN.md#on_change) is the user provid

[2020-07-25 15:28] kripper commented on #220
Thanks for the detailed explanation.
The design considers that each document is only processed **once** by **any** CL?
Or does it also support that all CLs process a changed document once?

[2020-07-25 16:21] redgeoff commented on #220
Awesome discussion here!

[2020-07-25 18:24] lostnet commented on #220
There's only one CL doc per db. The collection of processes is making sure the work you describe in on_changes documents happen whether you create 1 of each or 1000 of each. If you want to do 2 calls per document you have 2 different on_change documents, one CL process has the lock and sees the change and needs to make both calls. If that one were to crash between these two calls, the cl doc event

[2020-09-23 03:59] #220 closed

[2021-09-09 15:15] jerosa opened #230 "Upgrade to CouchDB 3.x"
Hello,

I have recently found this software and it turns out to be the solution to many of the problems I now have with replicating multiple databases to a single one and subscribing to stream of events.

However, I am using version 3.1.1 of CouhDB which introduces several changes (replication with selector, change listening with selectors...) which would improve the performance. As a note I only

[2021-09-09 19:59] redgeoff commented on #230
Hey @jerosa. Sorry, I don't really have time to maintain this project these days. If you'd like to submit some PRs to make any necessary changes, I'd be happy to merge them in.

[2022-01-31 16:44] ustun opened #232 "Do not overwrite security if security docs change (or make a backup if they do)"
We had a situation where we ran a cluster to cluster migration once.

Then, months later, someone accidentally ran the same script. :/  This caused
security docs to be reverted to their previous versions.

It would be good if spiegel had a flag to prevent that, or at least would back up
the sec docs, to prevent or minimize such operator errors.

[2022-03-02 16:50] HitomiTenshi opened #236 "Change-Listener: `listener.db_name` is already URI-Encoded"
The change-listener process cannot find databases with plus signs in them (probably other special URI-Escaped signs as well). When trying to find the database the `slouch` dependency will use `encodeURIComponent` a second time on `listener.db_name` which will result in the database not being found.

I made a hacky fix here that undoes the first encodeURIComponent so that `slouch` can find the data

[2022-07-28 01:13] daveywc opened #238 "Update ReadMe for Mount Source When Creating Service"
In the readme you need to update the various references to adding a --mount point when creating a service so that the source value is an absolute path.

e.g.
--mount type=bind,source=change-listener-passwords.json

should be changed to
--mount type=bind,source=/home/USERNAME/change-listener-passwords.json